.notes {
  padding: 0;
  list-style-type: none;
}

.note-item {
  padding: 1.5rem;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #d3d3d3;
}

.note-title {
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
}

.note-title:hover {
  color: #2ca5bb;
}

.note-date {
  color: #535353;
  margin-left: 0.5rem;
  font-size: smaller;
}

.note-item-container > div > p {
  margin: 0;
}

.note-item > button {
  float: right;
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
}

.option-container {
  display: none;
  position: absolute;
  right: 4rem;
  transform: translate(0, -50px);
  padding: 6px 10px;
  border: 1px solid #cecece;
  background-color: white;
}

.option-container > button {
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 10px;
  background-color: white;
}

.option-container > button:hover {
  background-color: #f1f1f6;
}
